<div
  style="
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
  "
>
  <div style="background-color: #04070c">
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="
        border-collapse: collapse;
        border-spacing: 0px;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-position: center top;
      "
    >
      <tbody>
        <tr style="border-collapse: collapse">
          <td valign="top" style="padding: 0; margin: 0">
            <table
              class="m_5887784409547121734es-header"
              cellspacing="0"
              cellpadding="0"
              align="center"
              style="
                border-collapse: collapse;
                border-spacing: 0px;
                table-layout: fixed !important;
                width: 100%;
                background-color: #333333;
                background-repeat: repeat;
                background-position: center top;
              "
            >
              <tbody>
                <tr style="border-collapse: collapse">
                  <td
                    align="center"
                    bgcolor="#B2FEFA"
                    style="padding: 0; margin: 0; background-color: #1d93dd"
                  >
                    <table
                      class="m_5887784409547121734es-header-body"
                      cellspacing="0"
                      cellpadding="0"
                      bgcolor="#000001"
                      align="center"
                      style="
                        border-collapse: collapse;
                        border-spacing: 0px;
                        background-color: #000001;
                        width: 600px;
                      "
                    >
                      <tbody>
                        <tr style="border-collapse: collapse">
                          <td
                            align="left"
                            style="
                              margin: 0;
                              padding-left: 15px;
                              padding-right: 15px;
                              padding-top: 20px;
                              padding-bottom: 20px;
                            "
                          >
                            <table
                              cellspacing="0"
                              cellpadding="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    align="center"
                                    style="
                                      padding: 0;
                                      margin: 0;
                                      font-size: 0px;
                                    "
                                  ></td>
                                </tr>
                              </tbody>
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    class="m_5887784409547121734es-m-p0r"
                                    valign="top"
                                    align="center"
                                    style="padding: 0; margin: 0; width: 570px"
                                  >
                                    <table
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="center"
                                            class="m_5887784409547121734es-m-txt-c"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              font-size: 0px;
                                            "
                                          >
                                            <a
                                              href="https://github.com/IBM-EPBL/IBM-Project-37806-1660325865"
                                              style="
                                                font-family: 'Open Sans',
                                                  sans-serif;
                                                font-size: 12px;
                                                text-decoration: none;
                                                color: #ffffff;
                                              "
                                              target="_blank"
                                              ><img
                                                src="https://images.unsplash.com/photo-1493972741200-51d407e0ee33?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmV3c3BhcGVyJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                                                alt="News Daily"
                                                style="
                                                  display: block;
                                                  border: 0;
                                                  outline: none;
                                                  text-decoration: none;
                                                "
                                                width="255"
                                                title="News Daily"
                                                class="CToWUd"
                                                data-bit="iit"
                                            /></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr style="border-collapse: collapse">
                          <td align="left" style="padding: 0; margin: 0">
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    align="center"
                                    class="m_5887784409547121734es-m-txt-c"
                                    style="
                                      padding: 0;
                                      margin: 0;
                                      padding-left: 5px;
                                      padding-right: 5px;
                                      padding-top: 20px;
                                    "
                                  >
                                    <h2
                                      style="
                                        margin: 0;
                                        line-height: 32px;
                                        font-family: roboto, 'helvetica neue',
                                          helvetica, arial, sans-serif;
                                        font-size: 26px;
                                        font-style: normal;
                                        font-weight: bold;
                                        color: #fbfafa;
                                        letter-spacing: 0px;
                                      "
                                    >
                                      News Daily!
                                      <br />
                                    </h2>
                                    <h3
                                      style="
                                        margin: 0;
                                        line-height: 24px;
                                        font-family: roboto, 'helvetica neue',
                                          helvetica, arial, sans-serif;
                                        font-size: 22px;
                                        font-style: normal;
                                        font-weight: bold;
                                        color: #fbfafa;
                                        letter-spacing: 0px;
                                      "
                                    >
                                      You have successfully registered.
                                    </h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr style="border-collapse: collapse">
                          <td
                            align="left"
                            bgcolor="transparent"
                            style="
                              margin: 0;
                              padding-left: 15px;
                              padding-right: 15px;
                              padding-top: 20px;
                              padding-bottom: 20px;
                              background-color: transparent;
                            "
                          >
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                               </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              class="m_5887784409547121734es-footer"
              cellspacing="0"
              cellpadding="0"
              align="center"
              style="
                border-collapse: collapse;
                border-spacing: 0px;
                table-layout: fixed !important;
                width: 100%;
                background-color: #141b24;
                background-repeat: repeat;
                background-position: center top;
              "
            >
              <tbody>
                <tr style="border-collapse: collapse">
                  <td
                    align="center"
                    bgcolor="#000000"
                    style="padding: 0; margin: 0; background-color: #000000"
                  >
                    <table
                      class="m_5887784409547121734es-footer-body"
                      cellspacing="0"
                      cellpadding="0"
                      bgcolor="#333333"
                      align="center"
                      style="
                        border-collapse: collapse;
                        border-spacing: 0px;
                        background-color: #333333;
                        width: 600px;
                      "
                    >
                      <tbody>
                        <tr style="border-collapse: collapse">
                          <td
                            align="left"
                            style="
                              margin: 0;
                              padding-bottom: 5px;
                              padding-left: 15px;
                              padding-right: 15px;
                              padding-top: 40px;
                            "
                          >
                            <table
                              class="m_5887784409547121734es-left"
                              cellspacing="0"
                              cellpadding="0"
                              align="left"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                                float: left;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    class="m_5887784409547121734es-m-p20b"
                                    align="left"
                                    style="padding: 0; margin: 0; width: 180px"
                                  >
                                    <table
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="center"
                                            class="m_5887784409547121734es-m-txt-c"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              font-size: 0px;
                                            "
                                          >
                                            <a
                                              href="https://github.com/IBM-EPBL/IBM-Project-37806-1660325865events/glitch-in-the-matrix"
                                              style="
                                                font-family: 'Open Sans',
                                                  sans-serif;
                                                font-size: 12px;
                                                text-decoration: none;
                                                color: #ffffff;
                                              "
                                              target="_blank"
                                              ><img
                                                src="https://images.unsplash.com/photo-1588681664899-f142ff2dc9b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmV3c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                                                alt=""
                                                style="
                                                  display: block;
                                                  border: 0;
                                                  outline: none;
                                                  text-decoration: none;
                                                "
                                                width="180"
                                                class="CToWUd"
                                                data-bit="iit"
                                            /></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <table
                              class="m_5887784409547121734es-right"
                              cellspacing="0"
                              cellpadding="0"
                              align="right"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                                float: right;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    align="left"
                                    style="padding: 0; margin: 0; width: 370px"
                                  >
                                    <table
                                      width="100%"
                                      cellspacing="0"
                                      cellpadding="0"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="left"
                                            class="m_5887784409547121734es-m-txt-c"
                                            style="padding: 0; margin: 0"
                                          >
                                            <h3
                                              style="
                                                margin: 0;
                                                line-height: 19px;
                                                font-family: roboto,
                                                  'helvetica neue', helvetica,
                                                  arial, sans-serif;
                                                font-size: 16px;
                                                font-style: normal;
                                                font-weight: bold;
                                                color: #ffffff;
                                                letter-spacing: 0px;
                                                margin-bottom: 15px;
                                              "
                                            >
                                              ABOUT US
                                            </h3>
                                            <p
                                              style="
                                                margin: 0;
                                                font-size: 12px;
                                                font-family: 'Open Sans',
                                                  sans-serif;
                                                line-height: 18px;
                                                color: #ffffff;
                                              "
                                            >
                                              <b></b><br />

                                              Hold the world in your hand! Have all the recent updated news and your favourite news on our News Daily. And get all updates. <br />
                                            </p>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="left"
                                            class="m_5887784409547121734es-m-txt-c"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              padding-top: 20px;
                                              font-size: 0;
                                            "
                                          ></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr style="border-collapse: collapse">
                          <td
                            align="left"
                            style="
                              padding: 0;
                              margin: 0;
                              padding-left: 15px;
                              padding-right: 15px;
                              padding-top: 20px;
                            "
                          >
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    align="center"
                                    valign="top"
                                    style="padding: 0; margin: 0; width: 570px"
                                  >
                                    <table
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="center"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              padding-bottom: 20px;
                                            "
                                          >
                                            <p
                                              style="
                                                margin: 0;
                                                font-size: 12px;
                                                font-family: 'Open Sans',
                                                  sans-serif;
                                                line-height: 18px;
                                                color: #8492a6;
                                              "
                                            >
                                              © 2022&nbsp;<a
                                                href="https://github.com/IBM-EPBL/IBM-Project-37806-1660325865"
                                                style="
                                                  font-family: 'Open Sans',
                                                    sans-serif;
                                                  font-size: 12px;
                                                  text-decoration: none;
                                                  color: #ffffff;
                                                "
                                                target="_blank"
                                                ><strong>News Daily</strong></a
                                              >&nbsp;| All Rights Reserved
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
