{% extends 'base.html' %} {% set active_page = "Profile" %} {% block head %}
<title>Profile</title>
{% endblock %} {% block body %}

<div class="container-fluid px-2 px-md-4">
  <div
    class="page-header min-height-300 border-radius-xl mt-4"
    style="
      background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');
    "
  >
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row gx-4 mb-2">
      <div class="col-auto"></div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">{{msg["FIRST_NAME"]}}</h5>
          <p class="mb-0 font-weight-normal text-sm">{{msg["EMAIL"]}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="mb-5 mb-lg-0">
          <i class="fa fa-edit my-4">Edit your details here</i>
          <form action="{{ url_for('profile') }}" method="POST">
            <!-- Password -->
            <div class="form-outline mb-4 input-group input-group-outline">
              <input
                type="password"
                id="form3Example4"
                class="form-control"
                name="password"
                placeholder="Password"
              />
            </div>
            <!-- Choose interest -->
            <div class="form-outline mb-4 input-group input-group-outline">
              <select
                id="interests"
                name="interests"
                id="form3Example4"
                class="form-control"
              >
                <option value="news">General News</option>
                <option value="sports">Sports</option>
                <option value="tech">Technology</option>
                <option value="world">World</option>
                <option value="finance">Finance</option>
                <option value="politics">Politics</option>
                <option value="business">Business</option>
                <option value="economics">Economics</option>
                <option value="entertainment">Entertainment</option>
                <option value="beauty">Beauty</option>
                <option value="travel">Travel</option>
                <option value="music">Music</option>
                <option value="food">Food</option>
                <option value="science">Science</option>
              </select>
            </div>

            <!-- Image edit -->
            <!-- <div class="input-group mb-2">
              <div class="row">
                <p class="font-weight-normal text-sm mb-4">
                  Click to edit your Display Picture
                </p>
                <input
                  type="file"
                  name="filename"
                  id="form3Example4"
                  class="btn btn-primary mb-4 mx-3"
                />
              </div>
            </div> -->
            <!-- Submit button -->
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
